{% extends "base.html" %}
{% block content %}
{% for cat in cats %}
    {% set outer_loop = loop %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>{{ names[loop.index-1] }}</h2>
            <table class="table table-striped">
                <tr>
                    <th class="text-center">Rank</th>
                    <th>Name</th>
                    <th class="text-center">{{ names[loop.index-1][5:] }}</th>
                    <th class="text-center">Percentage</th>
                </tr>
                {% for idx, person in cat.iterrows() %}
                <tr>
                    <td class="text-center">{{ idx + 1 }}</td>
                    <td><a href="/midnightstandings/profile?name={{ person.Names|replace(" ", "_") }}">{{ person.Names }}</a></td>
                    {% if outer_loop.index == 1 %}
                        <td class="text-center">{{ person.Winner }}</td>
                        <td class="text-center">{{ person.Winper|round(2) }}%</td>
                    {% elif outer_loop.index == 2 %}
                        <td class="text-center">{{ person['Runnerup'] }}</td>
                        <td class="text-center">{{ person.Runper|round(2) }}%</td>
                    {% else %}
                        <td class="text-center">{{ person['Lastplace'] }}</td>
                        <td class="text-center">{{ person.Lastper|round(2) }}%</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endfor %}
{% endblock %}