{% extends "mdr_base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Awards</h2>
        <div class="text-center">
        <dl class="dl-horizontal">
            <dt class="text-center">Longest Streak</dt>
            {% for idx, person in streak.iterrows() %}
            <dd>{{ person.Names }} ({{ person.Winner }})</dd>
            {% endfor %}

            <dt>Most Appearances</dt>
            {% for idx, person in apps.iterrows() %}
            <dd>{{ person.Names }} ({{ person.Total }})</dd>
            {% endfor %}

            <dt>Most Ties</dt>
            {% for idx, person in ties.iterrows() %}
            <dd>{{ person.Names }} ({{ person.Ties }})</dd>
            {% endfor %}
        <h2 class="text-left">Statistics</h2>
            <dt>Mean Wins (Std. Dev.)</dt>
            <dd>{{ means.Winner }} ({{ stds.Winner }})</dd>
            <dt>Mean Losses</dt>
            <dd>{{ means.Lastplace }} ({{ stds.Lastplace }})</dd>
            <dt>Mean Ties</dt>
            <dd>{{ means.Ties }} ({{ stds.Ties }})</dd>
            <dt>Mean Appearances</dt>
            <dd>{{ means.Total }} ({{ stds.Total }})</dd>
        </dl>
        </div>
    </div>
</div>
{% endblock %}