{% extends "mdr_base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Introduction</h2>
        <p>
            Have you ever wondered who's statistically the funniest person on the internet?
            Well, wonder no longer! I have
            crunched the numbers, run the models, and scraped the wikipedias to bring you
            the answer. How you ask? The ranks found on this website are based on a mostly daily
            game show, that I think, is mostly not fake. Each day the funniest person on the internet
            is determined and in turn documented here. Thus, we can see who has won the most and there you go.
        </p>
    </div>
</div>
{% endblock %}